@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@main(nav = "signup") {
    
    @helper.form(action = routes.SignUp.submit) {
        
        <fieldset>
            <legend>@Messages("signup.legend")</legend>
            
            @inputText(
                signupForm("username"), 
                '_label -> Messages("username"),
                '_help -> Messages("username.help"),
                '_error -> signupForm.globalError
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> Messages("email.help")
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> Messages("password"),
                '_help -> Messages("password.help")
            )
            
            @inputPassword(
                signupForm("repeatPassword"), 
                '_label -> Messages("repeat_password"),
                '_help -> Messages("repeat_password.help"),
                '_error -> signupForm.error("password")
            )
            
        </fieldset>
        
        <fieldset>
            
            <legend>@Messages("signup.contactInformation")</legend>
            
            @select(
                signupForm("country"),
                options = options(Countries.list),
                '_default -> Messages("country.choose"),
                '_label -> Messages("country"),
                '_error -> signupForm("country").error.map(_.withMessage("@message('country.error')"))
            )
            
            @textarea(
                signupForm("address"),
                '_label -> Messages("address"), 'cols -> 50
            )
            
            @inputText(
                signupForm("age"),
                '_label -> Messages("age"), 'class -> "mini",
                '_showConstraints -> false
            )
              
        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> Messages("agree_terms"),
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="login" value="@Messages("signup")">
            <a href="@routes.Application.home" class="cancel">@Messages("cancel")</a>
        </div>
        
    }
    
}