@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@main(nav = "signup") {
    
    @helper.form(action = routes.SignUp.submit) {
        
        <fieldset>
            <legend>Account information</legend>
            
            @inputText(
                signupForm("username"), 
                '_label -> message("username"), 
                '_help -> message("username.help"),
                '_error -> signupForm.globalError
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> message("email.help")
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> message("password"),
                '_help -> message("password.help")
            )
            
            @inputPassword(
                signupForm("repeatPassword"), 
                '_label -> message("repeat_password"),
                '_help -> message("repeat_password.help"),
                '_error -> signupForm.error("password")
            )
            
        </fieldset>
        
        <fieldset>
            
            <legend>Contact information</legend>
            
            @select(
                signupForm("country"),
                options = options(Countries.list),
                '_default -> message("country.choose"),
                '_label -> message("country"),
                '_error -> signupForm("country").error.map(_.withMessage("@message('country.error')"))
            )
            
            @textarea(
                signupForm("address"),
                '_label -> message("address"), 'cols -> 50
            )
            
            @inputText(
                signupForm("age"),
                '_label -> message("age"), 'class -> "mini",
                '_showConstraints -> false
            )
              
        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> message("agree_terms"),
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="login" value="@(message("signup"))">
            <a href="@routes.Application.home" class="cancel">@message("cancel")</a>
        </div>
        
    }
    
}