@(user: User)

@main(nav = "signup") {
    <center>

    <h2>@Messages("signup.summary.title")</h2>
    
    <h6>@Messages("signup.summary.username")</h6>
    
    <p>
        @user.username
    </p>
    
    <h6>@Messages("signup.summary.email")</h6>
    
    <p>
        @user.email
    </p>
    
    <h6>@Messages("signup.summary.password")</h6>
    
    <p>
        @user.password
    </p>
    
    <h2>@Messages("signup.summary.additionalInfo")</h2>
    
    <h6>@Messages("signup.summary.country")</h6>
    
    <p>
        @user.country
    </p>
    
    <h6>@Messages("signup.summary.address")</h6>
    
    <p>
        @if(user.address == null || user.address == "") {
            <em>Not specified</em>
        } else {
            @user.address
        }
    </p>
    
    <h6>@Messages("signup.summary.age")</h6>
    
    <p>
        @if(user.age == null) {
            <em>Not specified</em>
        } else {
            @user.age
        }
    </p>
    </center>
    
}