

@import play.i18n._

@main(title="Home",nav="LEL") {
    <div class="intro">
        <h1>@Messages.get("welcome")</h1>

        <p>
        @Messages.get("main_page.p1_1")
        <a class = "whiteBackground" href="@routes.SignUp.blank()">
        @Messages.get("main_page.p1_2")
        </a>
        @Messages.get("main_page.p1_3")
        </p>
        <br>
        <p>
        @Messages.get("main_page.p2")
        </p>
        <br>
        <p>
        @Messages.get("main_page.p3_1")
		<a class = "whiteBackground" href="@routes.SignUp.blank()">@Messages.get("main_page.p3_2")</a>
        @Messages.get("main_page.p3_3")
        </p>
        <br>
        <p>
        @Messages.get("main_page.p4_1")
        <a href="http://about:blank">@Messages.get("main_page.p4_2")</a>
        </p>
        <br>
        
        <table class="span14">
            <tbody>
                <tr>
                    <td><center><img style="height:auto; width:auto; max-width:180px; max-height:180px;" src="@routes.Assets.at("images/WHO_Logo.png")" alt="World Health Organization"></center></td>
                    <td><center><img style="height:auto; width:auto; max-width:180px; max-height:180px;" src="@routes.Assets.at("images/UN_Logo.jpg")" alt="United Nations"></center></td>
                    <td><center><img style="height:auto; width:auto; max-width:180px; max-height:150px " src="@routes.Assets.at("images/FAO_Logo.gif")" alt="Food and Agriculture Organization of the United Nations"></center></td>
                </tr>
                <tr>
                    <td><center>@Messages.get("worldhealthorganization")</center></td>
                    <td><center>@Messages.get("unitednations")</center></td>
                    <td><center>@Messages.get("foodandagricultureorganization")</center></td>
                </tr>
            </tbody>
        </table>
    </div>
}
