@(title: String="", nav: String = "")(content: Html)(implicit session: play.api.mvc.Session=null) <!-- First goes all the other non-implicit "parameters">

@import play.i18n._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
       <!-- CSS -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main2.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <!-- Shortcut Imgs -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!-- Scripts -->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <ul class="nav">
                        <li>
                            <a class="top" href="@routes.Application.home()">@Messages.get("main")</a>
                        </li>
                        <li class="@("active".when(nav == "signup"))">
                            <a class="top" href="@routes.SignUp.blank()">@Messages.get("signup")</a>
                        </li>

                        <!-- Note that you dont need to put the "magic" -->
                        <!-- Not Logged in -->
                        @if(session != null){
                        @if(session.get("login").equals(null) || session.get("login").equals("")) {
                            <li class="@("active".when(nav == "login"))">
                                <a class="top" href="@routes.Login.blank()">@Messages.get("login") &mdash; @Messages.get("username")</a>
                            </li>
                        <!-- Logged in -->
                        }else{
                            <li>
                                <a class="top" href="@routes.Login.logoff">@Messages.get("user") &mdash; @Messages.get("disconnect")</a>
                            </li>
                        }
                        }else{
                            <li class="@("active".when(nav == "login"))">
                                <a class="top" href="@routes.Login.blank()">@Messages.get("login")</a>
                            </li>
                        }

                        <li class="@("active".when(nav == "observations"))">
                            <a href="@routes.Application.listObservations()">Observation Database</a>
                        </li>

                    </ul>
            </div>
        </div>

        <div class="container">

            <div class="content">


                <div class="row">
                    <div class="span14">
                    @content
                    </div>
                </div>
            </div>

            <footer>
                <div class = "foot">
                    <p class="small">
                        @Messages.get("footer_message")
                    </p>
                </div>
            </footer>

        </div>
       </div>

    </body>
</html>
