@(user: User)

@import helper._

@import play.i18n._

@main(title="Profile",nav="profile") {

<div class="intro">
	<h1>@Messages.get("profWelcome") @user.username -- @Messages.get("docTableProf") </h1>

	<div id="formularioUpload">
		@form(action = routes.Application.showProfile, 'enctype ->"multipart/form-data") { 
		
			<input type="file" name="file" />
	
			<p>
				<input type="submit" value="Subir archivo" />
			</p>
		}
	</div>
	
	<div style="padding-top:10px">	
		<table>
			<tbody>
				@for(doc <- user.documentos) {
					<tr>
						<td>doc.name</td>
						<td>doc.extension</td>
						<td><a href="@{Application.downloadFile(doc.id)}">@Messages.get("descargaDoc")</a></td>
						<td><a href="@{Application.removeFile(doc.id)}">@Messages.get("borrarDoc")</a></td>
					</tr>
				}
            </tbody>
		</table>
	</div>
</div>
}
